<template>
    <div class="col-md-12 box">
        <h1>Create A Domain</h1>
        <div class="form-group">
            <input type="text" class="input form-control" v-model="addDomain.domain" @keyup.enter = "addNewDomain">
        </div>

        <div class="form-group">
            <button class="btn btn-success form-control" @click="addNewDomain">Create</button>
        </div>

        <hr>
        <template v-if="message.message">
            <div :class="message.type === 'Success' ? 'alert alert-success' : 'alert alert-danger'">
                {{message.message}}
            </div>

        </template>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                addDomain: {
                    domain: "",
                },
                message: {
                    type : Object
                },
            }
        },
        methods: {
            addNewDomain() {
                  let uri = "/api/domain/";
                axios.put(uri, this.addDomain)
                    .then((response) => {
                        this.message = {
                         type:'Success',
                         message : "Your Domain was Created Successfully"
                        };
                        console.log(response.data);
                        this.$emit('add', response.data.data);
                    })
                    .catch((err) => {
                        console.log(err.response.data.message);
                        this.message = {
                            type:'Error',
                            message : err.response.data.message
                        };
                    })
            }
        }
    }
</script>

<style>
    input {
        margin-bottom: 10px;
    }
</style>