<template>
    <div class="container">
        <router-view></router-view>
    </div>
</template>

<style>
</style>

<script>
    export default {
        mounted() {
            if (localStorage.getItem('token')) {
                this.$router.push('dashboard');
            }
        }
    }
</script>