<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-warning btn-sm" @click="logout">Logout</button>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <AddDomain @add="addNewDomain"/>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <Domains ref="domainComponent"/>
            </div>

        </div>
    </div>
</template>

<script>
    import AddDomain from './AddDomainComponent';
    import Domains from './DomainsComponent';

    export default {
        name: "DashboardComponent",
        components: {AddDomain, Domains},
        mounted() {

        },
        methods: {
            addNewDomain(domain) {
                this.$refs.domainComponent.addNewDomain(domain);
            },
            logout() {
                axios.get('api/logout')
                    .then(response => {
                        localStorage.removeItem('token');
                        this.$router.push('/');
                    })
                    .catch(err => {
                        console.log(err.response.data);
                    })
            }
        }
    }
</script>

<style>

</style>