<template>
    <div class="col-md-12">
        <div class="col-md-12">
            <DomainComponent
                    v-for="domain in domains"
                    :key="domain.id"
                    :domain="domain"
                    @delete="deleteDomain"
                    @confirm="confirmDomain"
                    :ref="`domain${domain.id}`"
            />
        </div>
    </div>
</template>

<script>
    import DomainComponent from './DomainComponent';

    export default {
        mounted() {
            //Get all domains
            this.getDomains();
        },
        components: {DomainComponent},
        data() {
            return {
                domains: "",
            }
        },
        methods: {
            getDomains() {
                axios.get('/api/domain')
                    .then((response) => {
                        this.domains = response.data.data;
                    })
                    .catch((err) => {
                        if (err.response.status === 401) {
                            this.$router.push('/');
                        }
                    });
            },
            deleteDomain(id) {
                let refId = `domain${id}`;
                this.$refs[refId][0].showLoading();

                axios.delete('/api/domain/' + id)
                    .then((response) => {
                        this.$refs[refId][0].hideLoading();

                        let deleteIndex = this.domains.findIndex((d) => d.id === id);

                        this.domains.splice(deleteIndex, 1);
                    })
                    .catch((err) => {
                        this.domains[this.domains.findIndex((d) => d.id === id)].message = err.response.data.data;
                        this.$refs[refId][0].hideLoading();
                    });
            },
            confirmDomain(id) {
                let refId = `domain${id}`;

                this.$refs[refId][0].showLoading();


                axios.get('/api/domain/confirmation/' + id)
                    .then((response) => {
                        this.$refs[refId][0].hideLoading();

                        this.getDomains();
                    })
                    .catch((err) => {
                        this.domains[this.domains.findIndex((d) => d.id === id)].message =err.response.data.data;
                        this.$refs[refId][0].hideLoading();
                    });
            },
            addNewDomain(domain) {
                this.domains.unshift(domain);
            }
        }
    }
</script>
<style>

</style>