<template>
    <div class="box">
        <table class="table table-hover">
            <tr>
                <td>Domain:</td>
                <td>{{domain.domain}}</td>
            </tr>
            <tr>
                <td>Confirmation Address:</td>
                <td>{{domain.domain}}/confirm.txt</td>
            </tr>
            <tr>
                <td>Confirmation Code:</td>
                <td>{{domain.confirmation.confirmation_code}}</td>
            </tr>
            <tr>
                <td class="text-capitalize">Confirmed At:</td>
                <td>
                    <span v-if="domain.confirmation.confirmed_at" class="alert-success">{{domain.confirmation.confirmed_at}}</span>
                    <span v-else class="alert-warning">Your Domain Doesn't Confirm</span>
                </td>
            </tr>
        </table>
        <hr>
        <div v-if="isLoading" class="spinner">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <template v-else>
            <button class="btn btn-success btn-sm" @click="$emit('confirm',domain.id)">Confirm</button>

            <button class="btn btn-default btn-sm" @click="$emit('delete',domain.id)">Delete</button>

            <span v-if="domain.message" class="alert alert-danger">
                    {{domain.message}}
                </span>
        </template>


    </div>
</template>

<script>
    export default {
        name: "DomainComponent",
        props: {
            domain: {
                type: Object, required: true, default: {}
            },
        },
        data() {
            return {
                isLoading: false,
            }
        },
        methods: {
            showLoading() {
                this.isLoading = true;
            },
            hideLoading() {
                this.isLoading = false;
            }
        }
    }
</script>

<style scoped>

</style>