<template>
    <div class="col-md-4 box">
        <h2>LOGIN</h2>
        <hr>
        <input v-model="user.username" type="text" class="form-control" @keyup.enter ="login">
        <input v-model="user.password" type="password" class="form-control" @keyup.enter ="login">
        <button @click="login" class="form-control btn btn-success">Login</button>
        <hr>
        <router-link :to="{name: 'register'}" class="nav-link">register</router-link>
    </div>
</template>

<script>
    import setAxiosToken from '../utils/axiosheader';

    export default {
        data() {
            return {
                user: {
                    username: '',
                    password: ''
                }
            }
        },
        methods: {
            login() {

                axios.post('/api/login', {
                    email: this.user.username,
                    password: this.user.password
                })
                    .then((response) => {
                        if (response.data.data.api_token) {
                            let {api_token} = response.data.data;
                            localStorage['token'] = api_token;

                            setAxiosToken(api_token);

                            this.$router.push('dashboard');
                        }
                    })
                    .catch((err) => {
                        console.log(err.response.data);
                    });
            }
        }
    }
</script>
<style>
</style>