<template>
    <div class="col-md-4 col-md-offset-4 box">
            <h2>REGISTER</h2>
            <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" class="form-control" v-model="user.name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Emain:</label>
                            <input type="text" class="form-control" v-model="user.email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="text" class="form-control" v-model="user.password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>password_confirmation:</label>
                            <input type="text" class="form-control" v-model="user.password_confirmation">
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <button class="form-control btn btn-success" @click="addUser">Create</button>
                </div>

            <router-link :to="{name: 'login'}" class="nav-link">login</router-link>
        </div>
</template>

<script>
    import setAxiosToken from '../utils/axiosheader';

    export default {
        data() {
            return {
                user: {
                    name: '',
                    email: '',
                    password:'',
                    password_confirmation: '',
                }
            }
        },
        methods: {
            addUser() {
                let uri = '/api/register';
                axios.post(uri, this.user)

                    .then((response) => {
                    let {api_token} = response.data.data;
                    localStorage['token'] = api_token;

                        setAxiosToken(api_token);

                        this.$router.push('dashboard');
                });
            }
        }
    }
</script>

<style>
</style>